.categories{
    padding: 70px;
    padding-top: 0px;
}
.categories .text{
    font-size: 35px;
    font-family: Cambria;
    font-weight: bold;
}
.categories .text .text-btn{
    display: flex;
    justify-content: space-between;
}

.categories .text .text-btn button{
    background-color: blue;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 14px;
    border-radius: 6%;

}

.categories .cat-cards{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.categories .card{
    border: 2px solid black;
    height: 160px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categories ul{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 28px;
    margin-top: 30px;
}
.categories ul li{
    color: #e6241a;
}

.reatangle{
    background-color: red;
    height: 30px;
    width: 13px;
}
  .cat-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    width: 150px;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card p {
    margin-top: 10px;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  